name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Build
        run: go build -v -o ./bin/dbdiff ./cmd/dbdiff

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ./bin/dbdiff
