name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Build
        run: go build -v ./...

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Run Tests
        run: go test -v ./...
